<div class="activities-block">
  <h4 class="text-center pt-5">Activities</h4>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/toomas-tartes-yizrl9n-eda-unsplash-1571336397.jpg" alt="norway"
             class="activities-block_img">
      </div>
      <div class="col px-5">
        <h5>Hiking</h5>
        <p>Hiking is a wonderful way to immerse yourself in the outdoors. Transported by your own two feet and carrying only what you need for the day on your back, you can discover the beauty of nature at whatever pace you’re comfortable with. </p>
        <button class="btn-read-more">read more</button>
      </div>
    </div>
    <div class="row">
      <div class="col px-5">
        <h5>Skiing</h5>
        <p>skiing, recreation, sport, and mode of transportation that involves moving over snow by the use of a pair of long, flat runners called skis, attached or bound to shoes or boots. Competitive skiing is divided into Alpine, Nordic, and freestyle events.</p>
        <button class="btn-read-more">read more</button>
      </div>
      <div class="col">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Ski_Famille_-_Family_Ski_Holidays.jpg/1200px-Ski_Famille_-_Family_Ski_Holidays.jpg" alt="norway"
             class="ml-auto" class="activities-block_img">
      </div>
    </div>
  </div>
</div>
