<div class="main-block">
  <form class="form-block">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" class="mr-3">Remember me</label>
    </div>
    <button type="submit" class="btn-log-in mt-5">Log in</button>
  </form>
</div>

