.main-block {
  display: block;
  background: rgba(75, 150, 190, 0.2);
  height: 100vh;
  padding-top: 50px;
}
.form-block {
  display: block;
  margin: 70px auto auto auto;
  width: 700px;
  padding-bottom: 100px;
}

.btn-log-in {
  background: #bdbbbb;
  border-radius: 5px;
  padding: 10px 25px;
  transition: all 250ms;
  color: #000;
  border: none;
}

.btn-log-in:hover {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 13px -7px #000000, -11px 28px 27px 34px rgba(0,0,0,0);
}
