<nav class="navbar navbar-expand-lg navbar-dark container  bg-transparent">
  <a class="navbar-brand logo" routerLink="/">N</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLink="/"
          [routerLinkActiveOptions]="{exact: true}"
          [routerLinkActive]="'active'">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item" routerLink="/activities"
          [routerLinkActiveOptions]="{exact: true}"
          [routerLinkActive]="'active'">
        <a class="nav-link">Activities</a>
      </li>
      <li class="nav-item"
          routerLink="attraction"
          [routerLinkActiveOptions]="{exact: true}"
          [routerLinkActive]="'active'">
        <a class="nav-link">Attractions</a>
      </li>
      <li class="nav-item"
          routerLink="contact-us"
          [routerLinkActiveOptions]="{exact: true}"
          [routerLinkActive]="'active'">
        <a class="nav-link">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
