<div class="attraction-block ">
  <h4 class="text-center my-5">Attractions</h4>
  <div class="cards-block pb-8 d-flex flex-wrap container justify-content-center align-items-center">
    <div class="card" style="width: 18rem;">
      <img src="https://www.planetware.com/photos-large/N/norway-attractions-sognefjord.jpg" class="card-img-top"
           alt="...">
      <div class="card-body">
        <h5 class="card-title">Sognefjord</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="read-more-btn">read more</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://www.planetware.com/photos-large/N/norway-attractions-pulpit-rock.jpg" class="card-img-top"
           alt="...">
      <div class="card-body">
        <h5 class="card-title">Pulpit Rock (Preikestolen)</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="read-more-btn">read more</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://www.planetware.com/photos-large/N/norway-attractions-tromso.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tromsø</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="read-more-btn">read more</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://www.planetware.com/photos-large/N/norway-attractions-lofoten-islands.jpg" class="card-img-top"
           alt="...">
      <div class="card-body">
        <h5 class="card-title">Lofoten Islands</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="read-more-btn">read more</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://www.planetware.com/photos-large/N/norway-attractions-viking-ship-museum.jpg"
           class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Viking Ship Museum, Oslo</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="read-more-btn">read more</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://www.planetware.com/photos-large/N/norway-attractions-fram-museum-bygdoy-peninsula.jpg"
           class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Bygdoy Peninsula</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="read-more-btn">read more</a>
      </div>
    </div>
  </div>
</div>
